.nothing__main-content{

    display: flex;
    height: 100%;
    background-color: $primary;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: lighter;

}